/*=========================================
CSS for mobile screen with max-width 767px;
===========================================*/

@media screen and (max-width: 767px) {
	body.page-template.page-template-main .nav.navbar-nav.navbar-right, .mainmenu.visible-xs .nav.navbar-nav.navbar-right {
		margin: 0;
	}
	div#bs-example-navbar-collapse-1 {
		background: #ee3b56;
		max-width: 210px;
		margin-left: 50px;
	}
	body.page-template.page-template-main ul.nav.navbar-nav li a, .mainmenu.visible-xs ul.nav.navbar-nav li a {
		font-size: 15px;
		border: none !important;
		min-height: 0;
	}

	.mainmenu.visible-xs .navbar-collapse.in {
		overflow-y: visible;
	}
	body.page-template.page-template-main .nav.navbar-nav.navbar-right, .mainmenu.visible-xs .nav.navbar-nav.navbar-right {
		position: relative;
		max-width: 210px;
	}
	body.page-template.page-template-main ul.nav.navbar-nav li, .mainmenu.visible-xs ul.nav.navbar-nav li {
		margin: 0;
		width: 99%;
		border-bottom: solid 1px;
	}
	body.page-template.page-template-main ul.nav.navbar-nav>li, .mainmenu.visible-xs ul.nav.navbar-nav>li {
		box-shadow: none;
	}
	body.page-template.page-template-main ul.nav.navbar-nav li a, .mainmenu.visible-xs ul.nav.navbar-nav li a {
		background: rgb(255,255,255);
	}
}