/*=========================================
CSS for mobile screen with max-width 450px;
===========================================*/

@media screen and (max-width: 450px) {
	section#action a.fancybox {
		margin: 10px auto;
	}
	.timer-element {
		margin: 0 5px !important;
	}
	.col-md-12.per .col-md-4, h3.ac1 {
		margin-top: 0;
	}
	h3.gold1 {
		font-size: 15px;
	}
	.col-md-12.per .col-md-4 {
		max-width: inherit; 
	}
	h5.cac {
		margin: 30px 0;
	}
	.form-in input.wpcf7-form-control.wpcf7-text {
		width: 100%;
	}
	.fancybox-vidi img {
		width: 100%;
		height: auto;
		margin-bottom: 20px;
	}
	.form-in span.wpcf7-list-item-label {
		margin-top: 10px;
		font-size: 16px;
	}
	#calc {
		margin-top: -30%;
	}
	#vidi {
		margin-top: -20%;
	}
	section#services div.col-md-4 {
		float: none;
	}
	.footer-area {
		padding-bottom: 30%;
		margin-top: 20px;
	}
	.karta .ymaps-2-1-71-map {
		height: 550px !important;
	} 
	section#contacts {
		padding-bottom: 0;
	}
	section#services .ostavit.col-md-8 {
		width: 95% !important;
	}
	.col-md-5.contact {
		margin-top: 300px;
	}
	section#services .ostavit.col-md-8 .inner-za div.wpcf7, section#services .ostavit.col-md-8 .inner-za div.co-in {
		margin: 10px;
	}
	section#services .ostavit.col-md-8 .inner-za:before {
		width: calc(100% - 8px);
		height: calc(100% - 8px);
		top: 4px;
		left: 4px;
	}	
	section#etapi h4.fgfgf {
		font-size: 20px;
		padding: 8px 0;
		background-size: 300px;
	}
	section#services {
		padding: 20px 0;
	}
}